.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
    background: #353535;
}

footer {
    text-align: center;
}

* {
color: #dea348;
}

.navbar>.container-fluid .navbar-brand {
    color: #66986a;
}

.jumbotron {
    background: #4c4b4b;
}

.form-control {
    color: #856b92;
    background-color: #2f2e2e;
    background-image: none;
    border: 1px solid #5f5f5f;
}

.table {
    background: #4a4a4a;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #3d3d40;
}

hr {
    border-top: 1px solid #6f6e6e;
}

.panel-default>.panel-heading {
    background-image: none;
    background: #2b2b2b;
}

.table>thead>tr>th {
    border-bottom: 2px solid #5a5a5a;
}

.panel-default {
    border-color: #5a5a5a;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #3c3c3c;
    background: #424242;
    border-top: 1px solid #545353;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #868686;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
}

collapse>.panel-body {
    border-top-color: #525252;
}

th {
    color: #368e5e;
}

td {
    border-bottom: 2px solid #5a5a5a;
}