

    <div ng-controller="UserCtrl as uc">
        <div class="jumbotron">
            <h2>Monitoring packet tool</h2>
            <p class="pull-right">... for monitoring packets</p>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Users
                    <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">Add User</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
                <hr>
            </div>


            <table id="user_list" class="table table-striped">
                <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Another</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usr in uc.users | filter:searchText">
                    <td>
                        {{ usr.firstName }}
                    </td>
                    <td>
                        {{ usr.lastName }}
                    </td>
                    <td>
                        {{ usr.age }}
                    </td>
                    <td>
                        <a ng-href="/#/users/edit/{{usr.firstName}}/{{usr.lastName}}" class="btn btn-success pull-right" id="btn_user_update">Edit User</a>
                    </td>
                </tr>
                <tr ng-hide="uc.users.length">
                    <td colspan="3">
                        <p class="text-center">No Users Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ uc.users | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
